.container {
    text-align: center;
    color : white;
    font-family: 'Abel', sans-serif;
    font-family: 'Delius', cursive;  
}

.title {
    font-weight: bold;
    font-size: 2.3rem;
    text-shadow: 1px 2px 5px rgb(253, 83, 32);
}

.image {
    height: 200px;
    width: 140px;
}

.subtitle{
    text-shadow: 1px 2px 5px rgb(253, 83, 32);
}

@media (max-width: 384px){
    .image {
        height: 140px;
        width: 100px;
    }
    .title {
        font-size: 2.1rem;
    }
    .subtitle {
        font-size: 1.2rem;
    }
}